*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.form{
  position:absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  background-color: #ccc;
  padding: 40px;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form-group label{
  font-size: 20px;
  margin-bottom: 8px;
}
.form-group input{
  width:100%;
  padding: 10px;
  
}
.form .submit-btn{
  display: block;
  margin: auto;
  width: 100%;
  padding: 12px;
  background-color: cyan;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.fa-plus-circle{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: green;
  font-size: 16px;
}
.scroll-form{
  overflow-y: scroll;
}

